* {
    box-sizing: border-box;
}

.bg {
    background-color: #ddd;
}

.login-form {
    margin-top: 5rem;
}

.light-font {
    color: #ddd;
}

.navbar-three-content {
    background-color: #ddd;
}

.content-item {
    margin: 10px 0;
}

.active-content {
    background-color: #3cb043;
    margin: 0;
    transform: scale(105%, 105%);
    border-radius: 25px;
}

.active-content p {
    margin-top: 10px;
}

img {
    height: 150%;
    border-radius: 50%;
    padding: 0 0 0 100px;
}

.form-ui {
    padding-top: 50px;
}

.margin-space {
    margin: 60px 0;
}

.height-300 {
    height: 300px;
}

.height-resize {
    height: 150px;
}